HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


src/main/java/com/pablopafundi/site/SiteApplication

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


src/main/resources/application.yml
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
src/main/resources/application-test.properties
src/main/java/com/pablopafundi/site/config/CORSConfig.java
src/main/java/com/pablopafundi/site/SiteApplication.java
src/test/
.env
